@import url('https://fonts.googleapis.com/css2?family=Kanit:wght@400;700&family=Sarabun&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

body {
    background-color: #fcfcfc;
    color: #333333;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 3rem;
    background-color: #ffffff;
   
}

nav {
    width: 100%;    
    box-shadow: 0px 2px 5px #dddddd;
    padding: 1rem 3rem;
    
}

nav > ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    

    
}

nav > ul > li {
    margin-left: 30px;
    list-style: none;
}

nav > ul > li > a {
    text-decoration: none;
    color: #333333;
}

nav > ul > li > a:hover
{
    color: #0088ff;
}

a > img {
    width: 3rem;
}

.wrap {
    display: flex;
    align-items: center;
    gap:1.5rem;
}